
<%- include('../partials/header') %>
<div class="col-md-8">
  <h1><%= post.title %></h1><hr>
  <h3><%= post.description %></h3><br>
  <p><strong>Created At :</strong> <%= post.createdAt %></p>

  <form action="/posts/<%= post.id %>" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input class="btn btn-sm btn-danger" type="submit" value="Delete"/>
  </form>

  <hr><br>
    <h2>Comments</h2>
    <form action="/posts/<%= post.id %>/comments" method="post">
        <div class="form-group">
            <textarea class="form-control" name="content" rows="5"></textarea>
        </div>
        <div class="form-group">
          <input class="btn btn-md btn-primary" type="submit" name="submit" value="Submit">
        </div>
    </form><hr><br>

    <ul class="list-group">
      <% for (let comment of comments) {%>
          <li class="list-group-item">
            <h3><%= comment.content %></h3>
            <p><strong>Created At :</strong> <%= comment.createdAt %></p>
          </li><br>
        <% } %>
    </ul>
</div>

<%- include('../partials/footer') %>
